MODEL_SOURCE=local
MODEL_PATH=best_model.pkl
VECTORIZER_PATH=tfidf_vectorizer.pkl
AWS_REGION=us-east-1
S3_BUCKET_NAME=sentiment-mlops-bucket-2026
MODEL_S3_KEY=models/best_model.pkl
VECTORIZER_S3_KEY=models/tfidf_vectorizer.pkl
MLFLOW_TRACKING_URI=sqlite:///mlflow.db